<!DOCTYPE html>
<html ng-app="mimic">
<head>
    <title><%= title %></title>

    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />

    <meta name="robots" content="noindex">
    <meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

    <meta property="og:title" content="mimic" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:locale" content="en_US" />
    
    <% for(var i=0; i<css.length; i++) {%>
   		<link rel="stylesheet" href="<%= css[i] %>" />
	<% } %>
   
</head>

<body>

	<!-- page -->
	<div class="b-view" id="b-view" ui-view="main"></div>
    <div ui-view="modal"></div>
	<!-- END page -->

	<% for(var i=0; i<scripts.length; i++) {%>
   		<script src="<%= scripts[i] %>"></script>
	<% } %>

</body>
</html>